<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1><a href="index.html">simple_enum</a></h1>
          <h2>{{ page.excerpt }}</h2>
        </header>

        {% if page.downloads %}
        <section id="downloads" class="clearfix">
          <a href="https://rubygems.org/gems/simple_enum" id="view-on-rubygems" class="button"><span>Rubygem</span></a>
          <a href="http://rubydoc.info/gems/simple_enum" id="view-on-rubydoc" class="button"><span>API Docs</span></a>
          <a href="https://github.com/lwe/simple_enum" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>
        {% else %}
        <section id="home" class="clearfix">
          <a href="index.html">← Back</a>
        </section>
        {% endif %}

        <hr>

        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          <a href="index.html">Home</a> | <a href="rails.html">Rails integration</a> | <a href="mongoid.html">Mongoid integration</a> |
          <a href="https://rubygems.org/gems/simple_enum">Rubygem</a> | <a href="http://rubydoc.info/gems/simple_enum">API Documentation</a>
          <br>
          <a href="https://github.com/lwe/simple_enum">simple_enum</a> is maintained by <a href="https://github.com/lwe">lwe</a>
          <br>
          Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>
      </div>
    </div>
  </body>
</html>
